{% extends 'main/general.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Заявка{% endblock %}
{% block body %}

<div class="container">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="add_application-tab" data-bs-toggle="tab" href="#add_application" role="tab" aria-controls="add_application" aria-selected="true">Оставить заявку</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="record-tab" data-bs-toggle="tab" href="#record" role="tab" aria-controls="record" aria-selected="false">Мои заявки</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="add_application" role="tabpanel" aria-labelledby="add_application-tab">
            <div class="card w-100">
                <div class="card-body">
                    <h2>Создание новой заявки</h2>
                    <form method="post" action="{% url 'request:add_orders' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="w-100 btn btn-lg btn-primary mt-4" type="submit" id="submit" onclick="clicks();">Создать</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="record" role="tabpanel" aria-labelledby="record-tab">
            <div class="card w-100 mt-4">
                <div class="card-body">
                    <h2>Ваши заявки</h2>
                    <ul class="list-group">
                        {% for app in user_applications %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <strong class="list-group-item">Дата: {{ app.date }}</strong>
                                    <strong class="list-group-item">Описание проблемы: {{ app.description }}</strong>
                                    <strong class="list-group-item">Кабинет: {{ app.number_cab }}</strong>
                                    <strong class="list-group-item">Cтатус: {{ app.status_application }}</strong>
                                </div>
                                <div class="d-flex"><div>
                                    <button class="btn btn-primary" onclick="editApplication({{ app.id }})">Редактировать</button>
                                    <form method="post" action="{% url 'request:delete_application' app.id %}">
                                        {% csrf_token %}
                                        <button class="btn btn-primary" style="margin-left: 16px; margin-top: 10px;" type="submit">Удалить</button>
                                    </form>
                                </div>
                            </li>

                            <form method="post" class="edit-form" action="{% url 'request:edit_application' app.id %}" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="editId" value="{{ app.id }}">
                                {{ form|crispy }}
                                <button type="button" class="btn btn-primary" onclick="cancelEdit(this)">Отмена</button>
                                <button type="submit" class="btn btn-primary" onclick="edit_form();">Сохранить</button>
                            </form>
                            <hr>
                        {% empty %}
                            <p>У вас нет активных заявок.</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>
<script>
    deleteAsteriskFields()
    itemFormRow()
</script>
{% endblock %}
